node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

contracts.json
coverage*
deployments/localhost
dist
src/types
.vscode
.nodn
*.abe*
*.bii
/out
build
.env
.venv
/export
vendor

yarn-error.log

